.settings-page-wrapper {
  padding: 2rem;
}

.settings-welcome-message {
  font-family: "Source Code Pro", monospace;
  font-size: 3rem;
  color: hsl(var(--foreground));
  text-align: center;
  padding-bottom: 40px;
}

.settings-page-wrapper {
  min-height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 20px 40px 20px;
  box-sizing: border-box;
}